/*keeping all styles here only*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
}

body, #root {
    width: 100vw;
    min-height: 100vh;
    margin:0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

